body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

h2:hover::after {
    width: 100%;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    color: #333;
    margin-bottom: 5px;
}

.project a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
